<a href="https://colab.research.google.com/github/IrisMon/BeginnerMachineLearning/blob/main/1_Subsetting_Postion_Based.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Subsetting : Position Based** 

TABLE OF CONTENTS:

* How to view the top and bottom rows of the data?
* How to select rows in particular range?
* How select the rows by position?
* How to select the specific rows and columns from the data using their position ?

In [1]:
import pandas as pd 
import numpy as np
import os

In [2]:
!pip install -q xlrd
!git clone https://github.com/IrisMon/BeginnerMachineLearning.git

Cloning into 'BeginnerMachineLearning'...
remote: Enumerating objects: 114, done.
remote: Counting objects: 100% (114/114), done.
remote: Compressing objects: 100% (110/110), done.
remote: Total 114 (delta 53), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (114/114), 1.71 MiB | 2.98 MiB/s, done.
Resolving deltas: 100% (53/53), done.

In [3]:
# Files from the cloned git repository.
!ls BeginnerMachineLearning/Preprocessing_Subsetting_Modifying_Pandas_Dataframes/datasets

big_mart_sales.csv

In [4]:
import pandas as pd
data = pd.read_csv('BeginnerMachineLearning/Preprocessing_Subsetting_Modifying_Pandas_Dataframes/datasets/big_mart_sales.csv')
data.head(3)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700

[3 rows x 12 columns]

**How to view the top and bottom rows of the data?**

* Use head function to view top n rows.
* Use tail function to view bottom n rows

In [ ]:
# View top 2 rows
data.head(2)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228

[2 rows x 12 columns]

In [ ]:
##View top rows
data.tail()

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[5 rows x 12 columns]

In [ ]:
## view bottom 2 rows
data.tail(3)

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8520           NCJ29        10.60  ...  Supermarket Type1          1193.1136
8521           FDN46         7.21  ...  Supermarket Type2          1845.5976
8522           DRG01        14.80  ...  Supermarket Type1           765.6700

[3 rows x 12 columns]

**How ro select rows in a particular range?**

In [ ]:
data.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [ ]:
# Select the data from range 10 - 15
data[10:25:10]

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
10           FDY07        11.80  ...  Supermarket Type1          1516.0266
20           FDN22        18.85  ...  Supermarket Type1          3775.0860

[2 rows x 12 columns]

In [ ]:
data[-10:]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
8513           FDH31       12.000  ...  Supermarket Type1           595.2252
8514           FDA01       15.000  ...  Supermarket Type1           468.7232
8515           FDH24       20.700  ...  Supermarket Type2          1571.2880
8516           NCJ19       18.600  ...  Supermarket Type2           858.8820
8517           FDF53       20.750  ...  Supermarket Type1          3608.6360
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[10 rows x 12 columns]

**How to select the rows by position?**

* When we are using **iloc** , we need to specify the rows and columns by their position.

In [ ]:
# Select specific rows by index number 
data.iloc[[1,3,5,6,2,13]]

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
1            DRC01        5.920  ...  Supermarket Type2           443.4228
3            FDX07       19.200  ...      Grocery Store           732.3800
5            FDP36       10.395  ...  Supermarket Type2           556.6088
6            FDO10       13.650  ...  Supermarket Type1           343.5528
2            FDN15       17.500  ...  Supermarket Type1          2097.2700
13           FDS46       17.600  ...  Supermarket Type1          2145.2076

[6 rows x 12 columns]

**How to select the specific rows and columns from the data using their position?**

* In the **iloc** function pass the first list as the order of rows by their index and pass the second list as the order of columns

In [ ]:
data.iloc[[1,3,4,1],[0,2,3]]

  Item_Identifier Item_Fat_Content  Item_Visibility
1           DRC01          Regular         0.019278
3           FDX07          Regular         0.000000
4           NCD19          Low Fat         0.000000
1           DRC01          Regular         0.019278

In [ ]:
data[10:15]

   Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
10           FDY07        11.80  ...  Supermarket Type1          1516.0266
11           FDA03        18.50  ...  Supermarket Type1          2187.1530
12           FDX32        15.10  ...  Supermarket Type1          1589.2646
13           FDS46        17.60  ...  Supermarket Type1          2145.2076
14           FDF32        16.35  ...  Supermarket Type1          1977.4260

[5 rows x 12 columns]

# **Subsetting : Label Based**

**Table of contents**

* How to select rows using the label of the index?
* Difference between loc an iloc

In [ ]:
data.head(3)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700

[3 rows x 12 columns]

In [ ]:
#Set the Item_Identifier as the index of the dataframe.
data.set_index('Item_Identifier',inplace=True,drop=True)

In [ ]:
data.head()

                 Item_Weight  ... Item_Outlet_Sales
Item_Identifier               ...
FDA15                   9.30  ...         3735.1380
DRC01                   5.92  ...          443.4228
FDN15                  17.50  ...         2097.2700
FDX07                  19.20  ...          732.3800
NCD19                   8.93  ...          994.7052

[5 rows x 11 columns]

**HOW TO SELECT ROWS USING THE LABEL OF THE INDEX**

In [ ]:
# Select rows with index value 'DRC01¿
data.loc['DRC01']

                 Item_Weight  ... Item_Outlet_Sales
Item_Identifier               ...
DRC01                   5.92  ...          443.4228
DRC01                   5.92  ...         1478.0760
DRC01                    NaN  ...         1034.6532
DRC01                   5.92  ...         1133.1916
DRC01                   5.92  ...          492.6920
DRC01                   5.92  ...          591.2304

[6 rows x 11 columns]

In [ ]:
data.loc[['DRC01','FDX07']]

                 Item_Weight  ... Item_Outlet_Sales
Item_Identifier               ...
DRC01                   5.92  ...          443.4228
DRC01                   5.92  ...         1478.0760
DRC01                    NaN  ...         1034.6532
DRC01                   5.92  ...         1133.1916
DRC01                   5.92  ...          492.6920
DRC01                   5.92  ...          591.2304
FDX07                  19.20  ...          732.3800
FDX07                  19.20  ...         2380.2350
FDX07                  19.20  ...         2563.3300
FDX07                  19.20  ...         3844.9950
FDX07                  19.20  ...         4028.0900
FDX07                    NaN  ...         4577.3750

[12 rows x 11 columns]

**HOW TO SELECT ROWS & COLIUMNS USING THE LABEL OF THE INDEX?**

In [ ]:
data.loc[['DRC01','FDX07'],'Item_Weight']

Item_Identifier
DRC01     5.92
DRC01     5.92
DRC01      NaN
DRC01     5.92
DRC01     5.92
DRC01     5.92
FDX07    19.20
FDX07    19.20
FDX07    19.20
FDX07    19.20
FDX07    19.20
FDX07      NaN
Name: Item_Weight, dtype: float64

In [ ]:
data.loc[['DRC01','FDX07'],['Item_Fat_Content',	'Item_Visibility']]

                Item_Fat_Content  Item_Visibility
Item_Identifier
DRC01                    Regular         0.019278
DRC01                    Regular         0.019309
DRC01                    Regular         0.019107
DRC01                    Regular         0.019239
DRC01                    Regular         0.019200
DRC01                    Regular         0.019184
FDX07                    Regular         0.000000
FDX07                    Regular         0.022914
FDX07                    Regular         0.022965
FDX07                    Regular         0.000000
FDX07                    Regular         0.022954
FDX07                    Regular         0.022808

**DIFERENCE BETWEEN LOC AND ILOC**

In [ ]:
sample_df=pd.DataFrame({
    'gender':['M', 'F', 'M', 'M', 'F'],
    'grade' :['A', 'A', 'B', 'B', 'A'],
    'marks' :[22, 21, 22,  12,20],
    'id'    :['A101','A102','A103','A104','A105']
})
sample_df

  gender grade  marks    id
0      M     A     22  A101
1      F     A     21  A102
2      M     B     22  A103
3      M     B     12  A104
4      F     A     20  A105

Now , when we define a dataframe by default the index is a range of numbers. Let's see what happens if try to slice the dataframe using both loc and iloc

In [ ]:
sample_df.loc[2:4]

  gender grade  marks    id
2      M     B     22  A103
3      M     B     12  A104
4      F     A     20  A105

In [ ]:
sample_df.iloc[2:4]

  gender grade  marks    id
2      M     B     22  A103
3      M     B     12  A104

* When we try to slice the datafrae using the loc function on range (2 to 4) it first finds out the index with **label 2** and goes till it finds the index with **label 4**

* On the other hand, when we try to slice the dataframe using the **iloc** function on **range(2 to 4)** it starts with the **starting point index 2** and goes till point -1 which is 3

**Let's verify this by sorting the dataframe by marks column**

In [ ]:
sample_df=sample_df.sort_values(by =['marks'])
sample_df

  gender grade  marks    id
3      M     B     12  A104
4      F     A     20  A105
1      F     A     21  A102
0      M     A     22  A101
2      M     B     22  A103

**Now that we have sorted the dataframe, the indices are shuffled accordingly . Let's try to slice the dataframes again.**

In [ ]:
sample_df.loc[4:2]

  gender grade  marks    id
4      F     A     20  A105
1      F     A     21  A102
0      M     A     22  A101
2      M     B     22  A103

In [ ]:
sample_df.iloc[1:4]

  gender grade  marks    id
4      F     A     20  A105
1      F     A     21  A102
0      M     A     22  A101

![image.png]()

**Let's change the index of the dataframe to a categorical variable**

In [ ]:
sample_df.set_index('id',inplace=True)
sample_df

     gender grade  marks
id
A104      M     B     12
A105      F     A     20
A102      F     A     21
A101      M     A     22
A103      M     B     22

**Now , try to slice the dataframe using the loc and iloc function**

In [ ]:
sample_df.iloc[2:4]

     gender grade  marks
id
A102      F     A     21
A101      M     A     22

In [ ]:
sample_df.loc[2:4]
## Looking for numerical nums

TypeError: ignored

In [ ]:
sample_df.loc[['A102','A104']]

     gender grade  marks
id
A102      F     A     21
A104      M     B     12

# **Subsetting : Based on Value**

**TABLE OF CONTENTS**

* How to select rows based on condition?
* How to select rows based on multiple conditions?
* How to select specific columns from a data?
* How to select rows based on a condition and view only the specific columns?
* How to select the columns with specific data types?

In [6]:
##View the top rows of the data
data.head(3)

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700

[3 rows x 12 columns]

**HOW TO SELECT ROWS BASED ON CONDITION?**

In [7]:
## Filter rows with condition
# data.loc[data.Outlet_Establishment_Year==1987]
data[data.Outlet_Establishment_Year==1987]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4              NCD19        8.930  ...  Supermarket Type1           994.7052
6              FDO10       13.650  ...  Supermarket Type1           343.5528
14             FDF32       16.350  ...  Supermarket Type1          1977.4260
20             FDN22       18.850  ...  Supermarket Type1          3775.0860
27             DRJ59       11.650  ...  Supermarket Type1           308.9312
...              ...          ...  ...                ...                ...
8462           FDQ31        5.785  ...  Supermarket Type1          1494.0552
8466           FDJ32       10.695  ...  Supermarket Type1           673.7896
8484           DRJ49        6.865  ...  Supermarket Type1          2324.9736
8512           FDR26       20.700  ...  Supermarket Type1          2479.4392
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834

[932 rows x 12 columns]

In [9]:
data.loc[data.Outlet_Establishment_Year==1987]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4              NCD19        8.930  ...  Supermarket Type1           994.7052
6              FDO10       13.650  ...  Supermarket Type1           343.5528
14             FDF32       16.350  ...  Supermarket Type1          1977.4260
20             FDN22       18.850  ...  Supermarket Type1          3775.0860
27             DRJ59       11.650  ...  Supermarket Type1           308.9312
...              ...          ...  ...                ...                ...
8462           FDQ31        5.785  ...  Supermarket Type1          1494.0552
8466           FDJ32       10.695  ...  Supermarket Type1           673.7896
8484           DRJ49        6.865  ...  Supermarket Type1          2324.9736
8512           FDR26       20.700  ...  Supermarket Type1          2479.4392
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834

[932 rows x 12 columns]

In [13]:
data[data['Outlet_Establishment_Year']==1987]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
4              NCD19        8.930  ...  Supermarket Type1           994.7052
6              FDO10       13.650  ...  Supermarket Type1           343.5528
14             FDF32       16.350  ...  Supermarket Type1          1977.4260
20             FDN22       18.850  ...  Supermarket Type1          3775.0860
27             DRJ59       11.650  ...  Supermarket Type1           308.9312
...              ...          ...  ...                ...                ...
8462           FDQ31        5.785  ...  Supermarket Type1          1494.0552
8466           FDJ32       10.695  ...  Supermarket Type1           673.7896
8484           DRJ49        6.865  ...  Supermarket Type1          2324.9736
8512           FDR26       20.700  ...  Supermarket Type1          2479.4392
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834

[932 rows x 12 columns]

**HOW TO SELECT ROWS BASED ON MULTIPLE CONDITIONS?**

* When passing multiple conditions make sure that you put each of the condition in a parenthesis().

* Select all rows where the value of Outlet_Establishment_Year is 1987 and value of Outlet_Size is High

In [20]:
#Filter data based on multiple conditions
## Form1: data.loc[(data.Outlet_Establishment_Year==2009) & (data.Outlet_Size == 'Medium')]
# Form2:
data[(data.Outlet_Establishment_Year!=2009)  | (data.Outlet_Size=='Medium')] ## &=And |=O AND NO= ! operator

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
1              DRC01        5.920  ...  Supermarket Type2           443.4228
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
3              FDX07       19.200  ...      Grocery Store           732.3800
4              NCD19        8.930  ...  Supermarket Type1           994.7052
...              ...          ...  ...                ...                ...
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834
8519           FDS36        8.380  ...  Supermarket Type1           549.2850
8520           NCJ29       10.600  ...  Supermarket Type1          1193.1136
8521           FDN46        7.210  ...  Supermarket Type2          1845.5976
8522           DRG01       14.800  ...  Supermarket Type1           765.6700

[8523 rows x 12 columns]

**If you want to filter for a list of values from a column then instead of writing multiple conditions use the** **isin** **function**

**HOW TO FILTER FOR A LIST OF VALUES?**

In [22]:
#Get rows for  3 years 1987 , 1988, 1999
data[(data.Outlet_Establishment_Year==1987)  | (data.Outlet_Establishment_Year==1988)  | (data.Outlet_Establishment_Year==1999)]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
4              NCD19        8.930  ...  Supermarket Type1           994.7052
6              FDO10       13.650  ...  Supermarket Type1           343.5528
10             FDY07       11.800  ...  Supermarket Type1          1516.0266
...              ...          ...  ...                ...                ...
8475           NCS17       18.600  ...  Supermarket Type1           378.1744
8479           FDL10        8.395  ...  Supermarket Type1          2579.3092
8484           DRJ49        6.865  ...  Supermarket Type1          2324.9736
8512           FDR26       20.700  ...  Supermarket Type1          2479.4392
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834

[1862 rows x 12 columns]

In [23]:
data[data.Outlet_Establishment_Year.isin([1987,1988,1999])]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
4              NCD19        8.930  ...  Supermarket Type1           994.7052
6              FDO10       13.650  ...  Supermarket Type1           343.5528
10             FDY07       11.800  ...  Supermarket Type1          1516.0266
...              ...          ...  ...                ...                ...
8475           NCS17       18.600  ...  Supermarket Type1           378.1744
8479           FDL10        8.395  ...  Supermarket Type1          2579.3092
8484           DRJ49        6.865  ...  Supermarket Type1          2324.9736
8512           FDR26       20.700  ...  Supermarket Type1          2479.4392
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834

[1862 rows x 12 columns]

In [25]:
data.loc[data.Outlet_Establishment_Year.isin([1987,1988,1999])]

     Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0              FDA15        9.300  ...  Supermarket Type1          3735.1380
2              FDN15       17.500  ...  Supermarket Type1          2097.2700
4              NCD19        8.930  ...  Supermarket Type1           994.7052
6              FDO10       13.650  ...  Supermarket Type1           343.5528
10             FDY07       11.800  ...  Supermarket Type1          1516.0266
...              ...          ...  ...                ...                ...
8475           NCS17       18.600  ...  Supermarket Type1           378.1744
8479           FDL10        8.395  ...  Supermarket Type1          2579.3092
8484           DRJ49        6.865  ...  Supermarket Type1          2324.9736
8512           FDR26       20.700  ...  Supermarket Type1          2479.4392
8518           FDF22        6.865  ...  Supermarket Type1          2778.3834

[1862 rows x 12 columns]

**HOW TO SELECT SPECIFIC COLUMNS FROM A DATA?**

* You just need to pass a list of columnhs that you need.

In [27]:
##List of columns
select_columns=['Item_Identifier','Item_MRP','Outlet_Establishment_Year','Outlet_Size']

#dataframe with specific columns
data[select_columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
0              FDA15  249.8092                       1999      Medium
1              DRC01   48.2692                       2009      Medium
2              FDN15  141.6180                       1999      Medium
3              FDX07  182.0950                       1998         NaN
4              NCD19   53.8614                       1987        High
...              ...       ...                        ...         ...
8518           FDF22  214.5218                       1987        High
8519           FDS36  108.1570                       2002         NaN
8520           NCJ29   85.1224                       2004       Small
8521           FDN46  103.1332                       2009      Medium
8522           DRG01   75.4670                       1997       Small

[8523 rows x 4 columns]

In [29]:
select_columns=['Item_Identifier','Item_MRP','Outlet_Establishment_Year','Outlet_Size']

#dataframe with specific columns
data[(data.Outlet_Establishment_Year==1987)&(data.Outlet_Size=='High')][select_columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
4              NCD19   53.8614                       1987        High
6              FDO10   57.6588                       1987        High
14             FDF32  196.4426                       1987        High
20             FDN22  250.8724                       1987        High
27             DRJ59   39.1164                       1987        High
...              ...       ...                        ...         ...
8462           FDQ31   85.9856                       1987        High
8466           FDJ32   61.2536                       1987        High
8484           DRJ49  129.9652                       1987        High
8512           FDR26  178.3028                       1987        High
8518           FDF22  214.5218                       1987        High

[932 rows x 4 columns]

**Using loc**

* Using loc , we can provide columns to select within the same square bracket

In [31]:
data.loc[(data.Outlet_Establishment_Year== 1987) & (data.Outlet_Size=='High'),select_columns]

     Item_Identifier  Item_MRP  Outlet_Establishment_Year Outlet_Size
4              NCD19   53.8614                       1987        High
6              FDO10   57.6588                       1987        High
14             FDF32  196.4426                       1987        High
20             FDN22  250.8724                       1987        High
27             DRJ59   39.1164                       1987        High
...              ...       ...                        ...         ...
8462           FDQ31   85.9856                       1987        High
8466           FDJ32   61.2536                       1987        High
8484           DRJ49  129.9652                       1987        High
8512           FDR26  178.3028                       1987        High
8518           FDF22  214.5218                       1987        High

[932 rows x 4 columns]

**HOW TO SELECT THE COLUMNS WITH SPECIFIC DATA TYPES?**

* Let's first see the data type of each column using **dtypes** function

In [32]:
#Check the data types of the columns
data.dtypes

Item_Identifier               object
Item_Weight                  float64
Item_Fat_Content              object
Item_Visibility              float64
Item_Type                     object
Item_MRP                     float64
Outlet_Identifier             object
Outlet_Establishment_Year      int64
Outlet_Size                   object
Outlet_Location_Type          object
Outlet_Type                   object
Item_Outlet_Sales            float64
dtype: object

**Select the columns with object data type (categorical variables ) only**

In [33]:
##Select the columns where data type=object
data.select_dtypes('object')

     Item_Identifier Item_Fat_Content  ... Outlet_Location_Type        Outlet_Type
0              FDA15          Low Fat  ...               Tier 1  Supermarket Type1
1              DRC01          Regular  ...               Tier 3  Supermarket Type2
2              FDN15          Low Fat  ...               Tier 1  Supermarket Type1
3              FDX07          Regular  ...               Tier 3      Grocery Store
4              NCD19          Low Fat  ...               Tier 3  Supermarket Type1
...              ...              ...  ...                  ...                ...
8518           FDF22          Low Fat  ...               Tier 3  Supermarket Type1
8519           FDS36          Regular  ...               Tier 2  Supermarket Type1
8520           NCJ29          Low Fat  ...               Tier 2  Supermarket Type1
8521           FDN46          Regular  ...               Tier 3  Supermarket Type2
8522           DRG01          Low Fat  ...               Tier 1  Supermarket Type1

[8523 rows x 7 columns]

**Select the columns with float64 datatype**

In [34]:
data.select_dtypes('float64')

      Item_Weight  Item_Visibility  Item_MRP  Item_Outlet_Sales
0           9.300         0.016047  249.8092          3735.1380
1           5.920         0.019278   48.2692           443.4228
2          17.500         0.016760  141.6180          2097.2700
3          19.200         0.000000  182.0950           732.3800
4           8.930         0.000000   53.8614           994.7052
...           ...              ...       ...                ...
8518        6.865         0.056783  214.5218          2778.3834
8519        8.380         0.046982  108.1570           549.2850
8520       10.600         0.035186   85.1224          1193.1136
8521        7.210         0.145221  103.1332          1845.5976
8522       14.800         0.044878   75.4670           765.6700

[8523 rows x 4 columns]

In [36]:
data.select_dtypes('float64').describe()

       Item_Weight  Item_Visibility     Item_MRP  Item_Outlet_Sales
count  7060.000000      8523.000000  8523.000000        8523.000000
mean     12.857645         0.066132   140.992782        2181.288914
std       4.643456         0.051598    62.275067        1706.499616
min       4.555000         0.000000    31.290000          33.290000
25%       8.773750         0.026989    93.826500         834.247400
50%      12.600000         0.053931   143.012800        1794.331000
75%      16.850000         0.094585   185.643700        3101.296400
max      21.350000         0.328391   266.888400       13086.964800

In [37]:
data.select_dtypes('int3')

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[8523 rows x 0 columns]

![image.png]()